.onlinelbl{
    float: right;
    color:blue;
}

.style1 {
    width: 325px;
    text-align: right;
    color:white;
}

.style2 {
    width: 252px;
}

.style3{
    text-align:left;
    margin-left:10px;
}

.table-style {
    position: relative;
    margin-top:120px;
    background: rgba(0,0,0, 0.6);
    text-align: center;
    border-radius: 25px;
}
